/* Defult Css Start */
*{
    padding: 0;
    margin: 0
}
.container{
    width: 1240px;
    margin: auto;
}
.clearfix::after{
    content:"" ;
    display: block;
    clear: both;
}
body{
    background-color: #f8f8f8;
}
.left{
    float: left;
}
.right{
    float: right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
/* Defult Css End */
/* Menu Section Start  */
.header-section{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-position: top center;
   
}
.header-top {
	background-color: rgba(0,0,0,0.5);
	height: 92px;
}
.heading_logo {
	padding: 15px 0px;
    width: 30%;
	
}
nav{
  width: 70%;
  text-align: right;
  
}
nav ul{
    list-style: none;

}
nav ul li{
display: inline-block;
padding: 0px 20px;
position: relative;

}
nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	padding: 35px 0;
	display: inline-block;
    transition: .4s;
    position: relative;
}
nav ul li a:hover{
    color:  #c69453;;
}
nav ul li:first-child a{
    color:  #c69453;;
}
nav ul li a::after{
    content: "";
    background:  #c69453;;
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 50%;
    bottom:  0;
    transition: .4s;
}
nav ul li a:hover::after{
    width: 100%;
    left: 0;
}
/* Sub Menu */
nav ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: scaleY(0);
}
nav ul li:hover>ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
nav ul li ul li{
display: block;
transition: .4s;


}
nav ul li ul li a{
display: block;
color: #000;
text-align: center;
padding: 18px 0px;
}
nav ul li ul li:first-child a{
    color: #000;
}
nav ul li ul li:first-child:hover a{
    color: #c69453;
}
nav ul li ul li a::after {
    content: "";
    width: 0;
}
nav ul li ul li:hover{
    background-color: #cdcdcd;
}
nav ul li ul li a::after{
    content: "";
    display: block;
  
    height: 0;
    
}
.banner_text {
	text-align: center;
	margin-top: 280px;
}
.banner_text h1 {
	color: #fff;
	font-size: 80px;
	font-weight: 900;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 20px;
    word-spacing: 5px;
}
.banner_text h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    word-spacing: 5px;
    position: relative;
   

}
.banner_text h2::after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 100px;
    right: 310px;
    top: 50%;
   
    
}
.banner_text h2::before{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 1px;
    width: 100px;
    left:310px;
    top: 50%;
    
    
}
.banner_text a{
text-decoration: none;
color: #fff;
background-color: #c69453;
padding: 15px 30px;
border-radius: 20px;
font-size: 16px;
text-transform: uppercase;
transition: .4s;

  
}
.banner_text a:hover{
    background-color: #fff;
    color: #c69453;
}
/*  Menu Section End */
/* Card Section Start */
.card-section{
    text-align: center;
    background-color: #f8f8f8;
    
    
}
.card {
	background-color: #fff;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 30px;
	width: 23%;
	box-sizing: border-box;
	margin-right: 20px;
	transition: .4s;
	margin-top: 100px;
	cursor:pointer;
}
.card .card-img{
    padding-bottom: 15px;
    transition: 1s;
}
.card  .card-text h4{
    padding-bottom:15px ;
    font-size: 20px;
    font-weight: 400;
}
.card  .card-text p{
    line-height: 22px;
    color: #767676;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 40px;
}
.card  .card-text a{
    text-decoration: none;
color: #fff;
background-color: #c69453;
padding: 12px 28px;
border-radius: 5px;
font-size: 16px;
margin-bottom: 10px;
display: inline-block;
transition: .5s;


}
.card:last-child{
    margin-right: 0;
}
.card:hover{
    background-color: #e9e6e5;
}
.card:hover .card-img {
transform: rotateY(360deg);


}
.card:hover a{
    background-color: #fff;
    color: #c69453;

}
.card a:hover{
background: #000  !important;
color: #fff;
margin-top: 10px;


}
/* Card Section End */
/*  About Section Start */
.about-content{
    margin-top: 100px;
    
}
.video{
    width: 30%;
}
.about-text {
	width: 68%;
	margin-right: -215px;
}
.about-text h1{
    
    font-size: 40px;
    padding-bottom: 30px;
}
.about-text span{

    color: #c69453;
}
.about-text p{

    color:#444444 ;
    font-weight: 100;
    font-size: 18px;
    padding-bottom: 28px;
}
.btn a {
	text-decoration: none;
	color: #fff;
	background: #000000;
	display: inline-block;
	padding: 12px 20px;
	margin-top: 10px;
    transition: .4s;
}
.btn a:hover{
background-color: #c7944e;
}
/*  About Section End */

.contact-section {
	background-image: url(./img/contact\ Background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 1020px;
	background-position: top center;
}
.contact-text {
	width: 50%;
	padding-top: 240px;
}
.contact-text h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}
.contact-text p {
	color: #444444;
	padding-bottom: 50px;
}
.form-section{
    width: 50%;
}
input[type="text"] {
	width: 190%;
	background: #fff;
	border: none;
	padding: 14px;
	font-size: 16px;
	font-weight: normal;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	margin-bottom: 10px;
}
input[type="email" ]{
	width: 190%;
	background: #fff;
	border: none;
	padding: 14px;
	font-size: 16px;
	font-weight: normal;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	margin-bottom: 10px;
}
input[type="number" ]{
    width: 190%;
	background: #fff;
	border: none;
	padding: 14px;
	font-size: 16px;
	font-weight: normal;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	margin-bottom: 10px;
    
}
.text-area{
    width: 190%;
	background: #fff;
	border: none;
	padding: 14px;
	font-size: 18px;
	font-weight: normal;
	box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
	margin-bottom: 10px;
}
.contact-btn a{
    text-decoration: none;
    color: #fff;
    background-color: #c69453;
    padding: 15px 25px;
    margin-top:30px;
    display: inline-block;
 
}
footer{
    background-color: #6d6d6d;
    padding: 50px 0;
}

    .footer-text {
        width: 50%;
    
}
footer p{
    color: #dddddd;
    font-family: Arial, Helvetica, sans-serif;
 
}
.footer-icon{
    width: 50%;
    text-align: right;
}
    .footer-icon i {
        color: #dddddd;
        display: inline-block;
        margin-right: 25px;
    }
    input:focus{
        border: 3px solid #121115;
        
        outline: none;
     
    }
    .text-area:focus{
        border: 3px solid #121115;
      
        outline: none;
    }
